*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Roboto', sans-serif;
}
h1{
    margin-top: 50px;
    font-size: 3rem;
    text-align: center;
    justify-content: center;
}
.container{
    box-shadow: 0px 5px 19px -3px #000000;
    max-width: 400px;
    margin: 10vh auto 0 auto;   
}
#display{
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
    background: #AD5A1F;
    color: white;
}
.buttons{
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons > div{
    border-top: 1px solid #999;
    border-right: 1px solid #999;
}
.button{
    border: 0.5px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}
.button:hover{
    background-color:#286FAD;
    color: white;
    transition: 200ms ease-in;
}
#equal{
    background-color:#286FAD;
    color: white;
}
